.row {
  margin-right: -15px;
  margin-left: -15px;
}

.col-sm-1 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  width: inherit !important;
}

@media (min-width: 768px) {
	.col-sm-1{
   	 	float: left; 
   	 	width: 8.33333333%;
	}		
}
@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}