@media all{

/* row background color WHITE */
tr.evennumberedtablerow:{
  background-color: #FFFFFF !important;
}

/* row background color GREY */
tr.oddnumberedtablerow{
  background-color: #DCDCDC !important;
}

/* row background color LIGHT BLUE */
tr.lightbluetablerow{
  background-color: #C2E0FF !important;
}

/* row background color BLACK */
tr.blacktablerow{
  background-color: #000000 !important;
}

/* row background color MAROON */
tr.maroontablerow{
 background-color: #F38282 !important;
}

/* row background color PURPLE */
tr.purpletablerow{
 background-color: #9370DB !important;
}

/* row background color GREEN */
tr.greentablerow{
 background-color: #9ACD32 !important;
}

/* row background color YELLOW */
tr.yellowtablerow{
 background-color: #FFFF5C !important;
}

/* row background color ORANGE */
tr.orangetablerow{
 background-color: #FFCC99 !important;
}

/* row background color LIGHT PINK */
tr.lightpinktablerow{
 background-color: #FFCCFF !important;
}

/* row background color LIGHT GREEN */
tr.lightgreentablerow{
 background-color: #CCFF99 !important;
}

/* row background color YELLOW */
tr.yellowtablerow{
 background-color: #E1D276 !important;
}

/* row background color GREY */
tr.greytablerow{
 background-color: #bdbdbd !important;
}



/* simple table cell left justified heading */
td.fieldleftheading{
  height:22px;
  font-weight: bold;
  text-align: left;
  text-decoration:underline;
  vertical-align:bottom;
}

/* simple table cell right justified heading */
td.fieldrightheading{
  height:22px;
  font-weight: bold;
  text-align: right;
  text-decoration:underline;
  vertical-align:bottom;
}

/* simple table cell center justified heading */
td.fieldcenterheading{
  height:22px;
  font-weight: bold;
  text-align: center;
  text-decoration:underline;
  vertical-align:bottom;
}

/* simple table cell left justified field control (text box, select list, checkbox, etc.) */
td.fieldcontrolleft{
  height: 22px;
  text-align: left;
}

/* simple table cell right justified field control (text box, select list, checkbox, etc.) */
td.fieldcontrolright{
  height: 22px;
  text-align: right;
}

/* simple table cell center justified field control (text box, select list, checkbox, etc.) */
td.fieldcontrolcenter{
  height: 22px;
  text-align: center;
}

/* simple table cell left justified field control with border (text box, select list, checkbox, etc.) */
td.fieldcontrolleftwithborder{
  height: 22px;
  text-align: left;
  border-width: 1px !important;
  border-spacing: 2px;
  border-style: solid !important;
  border-color: black !important;
  border-collapse: separate;
  padding: 2px;
}

/* simple table cell right justified field control with border (text box, select list, checkbox, etc.) */
td.fieldcontrolrightwithborder{
  height: 22px;
  text-align: right;
  border-width: 1px;
  border-spacing: 0px;
  border-style: solid !important;
  border-color: black !important;
  border-collapse: separate;
  padding: 2px;
}

/* simple table cell center justified field control with border (text box, select list, checkbox, etc.) */
td.fieldcontrolcenterwithborder{
  height: 22px;
  text-align: center;
  border-width: 1px !important;
  border-spacing: 0px !important;
  border-style: solid !important;
  border-color: black !important;
  border-collapse: separate;  
  padding: 2px;
}


/* basic table definition with border */
table.basic {
  border-width: 1px;
  border-spacing: 0px;
  border-style: solid !important;
  border-color: black !important;
  border-collapse: separate !important;
  font-size: small;
  font-family : Arial;
  color: black !important;
 }
 
 /* basic table definition without border */
table.basicwithoutborder {
  border-width: 1px;
  border-spacing: 0px;
  border-style: solid !important;
  border-color: black !important;
  border-collapse: separate !important;
  font-size: small;
  font-family : Arial;
  color: black !important;
 }

/*collapse border */
table.collapseborder{
 border-collapse: collapse !important;
 border:1px solid black !important;
}

/* table data with a collapse border */
td.collapsebordertabledata{
 border-collapse: collapse !important;
 border:1px solid black !important;
}


/* table cell left justified, border, small Arial font */
td.leftjustifiedcell {
  border: 1px solid !important;
  bordercolor: 000;
  padding: 2px;
  font-family : Arial;
  font-size: small;
  font-weight: normal;
  text-align: left; 
  vertical-align:bottom;
}

/* table cell right justified, border, small Arial font */
td.rightjustifiedcell {
  border: 1px solid !important;
  bordercolor: 000;
  padding: 2px;
  font-family : Arial;
  font-size: small;
  font-weight: normal;
  text-align: right; 
  vertical-align:bottom;
}

/* table cell center justified, border, small Arial font */
td.centerjustifiedcell {
  border: 1px solid !important;
  bordercolor: 000;
  padding: 2px;
  font-family : Arial;
  font-size: small;
  font-weight: normal;
  text-align: center; 
  vertical-align:bottom;
}

/* table cell left justified, NO border, small Arial font */
td.leftjustifiedcellnoborder {
  border: 0px solid !important;
  bordercolor: 000;
  padding: 2px;
  font-family : Arial;
  font-size: small;
  font-weight: normal;
  text-align: left; 
  vertical-align:bottom;
}

/* table cell right justified, NO border, small Arial font */
td.rightjustifiedcellnoborder {
  border: 0px solid !important;
  bordercolor: 000;
  padding: 2px;
  font-family : Arial;
  font-size: small;
  font-weight: normal;
  text-align: right; 
  vertical-align:bottom;
}

/* table cell center justified, NO border, small Arial font */
td.centerjustifiedcellnoborder {
  border: 0px solid !important;
  bordercolor: 000;
  padding: 2px;
  font-family : Arial;
  font-size: small;
  font-weight: normal;
  text-align: center; 
  vertical-align:bottom;
}

/* table cell left justified, NO border, small Arial font, vertically aligned to top */
td.leftjustifiedcellnoborderaligntop {
  border: 0px solid !important;
  bordercolor: 000;
  padding: 2px;
  font-family : Arial;
  font-size: small;
  font-weight: normal;
  text-align: left; 
  vertical-align:top;
}

/* table cell right justified, NO border, small Arial font, vertically aligned to top */
td.rightjustifiedcellnoborderaligntop {
  border: 0px solid !important;
  bordercolor: 000;
  padding: 2px;
  font-family : Arial;
  font-size: small;
  font-weight: normal;
  text-align: right; 
  vertical-align:top;
}

/* table cell center justified, NO border, small Arial font, vertically aligned to top */
td.centerjustifiedcellnoborderaligntop {
  border: 0px solid !important;
  bordercolor: 000;
  padding: 2px;
  font-family : Arial;
  font-size: small;
  font-weight: normal;
  text-align: center; 
  vertical-align:top;
}

/* table cell left justified, NO border, small Arial font BOLD */
td.leftjustifiedcellnoborderbold {
  border: 0px solid !important;
  bordercolor: 000;
  padding: 2px;
  font-family : Arial;
  font-size: small;
  font-weight: bold;
  text-align: left; 
  vertical-align:bottom;
}

/* table cell right justified, NO border, small Arial font BOLD */
td.rightjustifiedcellnoborderbold {
  border: 0px solid !important;
  bordercolor: 000;
  padding: 2px;
  font-family : Arial;
  font-size: small;
  font-weight: bold;
  text-align: right; 
  vertical-align:bottom;
}

/* table cell center justified, NO border, small Arial font BOLD */
td.centerjustifiedcellnoborderbold {
  border: 0px solid !important;
  bordercolor: 000;
  padding: 2px;
  font-family : Arial;
  font-size: small;
  font-weight: bold;
  text-align: center; 
  vertical-align:bottom;
}

/* table cell left justified heading, border, small, bold Arial font */
td.leftjustifiedheading {
  border: 1px solid !important;
  bordercolor: 000;
  padding: 2px;
  font-family : Arial; 
  font-size: small;
  font-weight: bold;
  text-align: left;
  vertical-align:bottom;
}

/* table cell right justified heading, border, small, bold Arial font */
td.rightjustifiedheading {
  border: 1px solid !important;
  bordercolor: 000;
  padding: 2px;
  font-family : Arial; 
  font-size: small;
  font-weight: bold;
  text-align: right;
  vertical-align:bottom;
}

/* table cell center justified heading, border, small, bold Arial font */
td.centerjustifiedheading {
  border: 1px solid !important;
  bordercolor: 000;
  padding: 2px;
  font-family : Arial;
  font-size: small;
  font-weight: bold;
  text-align: center;
  vertical-align:bottom; 
}

td.blackspace {
 font-family : Arial;
 font-size: 50%;
}
}